@import url('colors/colors.css');

#teste{
    display: flex;
    justify-content: space-between;
}


body{
    background-color: var(--cor-fundo);
}

.row{
    color: #fff;
}

.col{
}

#textAjust{
    text-align: end;
}

#inputBuscar input[type="text"]{
    background-color: transparent;
    border-radius: 0;
    color: #fff;
}

#inputBuscar input[type="text"]::placeholder{
    color: #fff;
}
.form-control{
    color: #fff;
}

#menuLinks{
    background-color: var(--cor-navMenu);
}
